Json/.vs/**/*.*
Json/.vs/*.*
JsonApp/Json/.vs/**/*.*
JsonApp/Json/.vs/*.*
JsonApp/JsonApp/bin/**/*.*
JsonApp/JsonApp/bin/*.*
JsonApp/JsonApp/obj/**/*.*
JsonApp/JsonApp/obj/*.*
JsonApp/JsonApp/JsonApp/bin/**/*.*
JsonApp/JsonApp/JsonApp/bin/*.*
JsonApp/JsonApp/JsonApp/obj/**/*.*
JsonApp/JsonApp/JsonApp/obj/*.*
JsonApp/JsonApp/JsonApp.Android/bin/**/*.*
JsonApp/JsonApp/JsonApp.Android/bin/*.*
JsonApp/JsonApp/JsonApp.Android/obj/**/*.*
JsonApp/JsonApp/JsonApp.Android/obj/*.*
JsonApp/JsonApp/JsonApp.Android/Properties/**/*.*
JsonApp/JsonApp/JsonApp.Android/Properties/*.*
JsonApp/JsonApp/JsonApp.iOS/bin/**/*.*
JsonApp/JsonApp/JsonApp.iOS/bin/*.*
JsonApp/JsonApp/JsonApp.iOS/Properties/a**/*.*
JsonApp/JsonApp/JsonApp.iOS/Properties/*.*
JsonApp/JsonApp/JsonApp.iOS/obj/**/*.*
JsonApp/JsonApp/JsonApp.iOS/obj/*.*
ConceptProjectWin/Project/Build/**/*.*
ConceptProjectWin/Project/Build/*.*
ConceptProjectWin/Project/S

